/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
header {
    background: linear-gradient(to right, #6a5acd, #00cec9);
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links li a.active {
    border-bottom: 2px solid white;
}

.nav-links li a:hover {
    color: #ffeaa7;
}
/* Hamb Btn */
.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.menu-btn span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
/* Body */
body {
  font-family:'Times New Roman', Times, serif;
  background-color: #e0f7fa;
  color: #444; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 100px 20px 20px; 
}

/* Container */
.about-container {
  background: white;
  padding: 50px;
  max-width: 900px;
  text-align: justify; 
  border-radius: 20px;
  border-top: 6px solid #6c5ce7; 
  border-bottom: 6px solid #00cec9;
  animation: fadeIn 0.8s ease-in-out;
  position: relative; 

}

/* Bg Logo */
.about-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  height: 350px;
  opacity: 0.4;
  z-index: 1; 
  border-radius: 50%; 
}

/* Heading */
.about-container h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #5a4dbd; 
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 25px;
  position: relative; 
  z-index: 2;
}

/* Paragraphs */
.about-container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.15rem;
  line-height: 1.9;
  margin-bottom: 20px;
  position: relative; 
  z-index: 2;
}

/* Emphasized text */
.about-container strong {
  color: #5e60ce; 
}

.about-container em {
  color: #216a69; 
  font-style: italic;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

