* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, #6a5acd, #00cec9);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffeaa7;
 
}

.nav-links li a.active {
  border-bottom: 2px solid white;
  
}

#menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  margin-left: auto;
}

.menu-btn span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #e0f7fa;
  color: #444;
  padding: 100px 20px 20px; 
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: #5e60ce;
  margin-bottom: 20px;
}

h2 {
  color: #5e60ce;
  margin: 20px 0;
  font-size: 1.3rem;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

a img {
  max-height:80px;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

a img:hover {
  transform: scale(1.1);
}

@media (max-width: 962px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: linear-gradient(to right, #6a5acd, #00cec9);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    gap: 15px;
    text-align: left;
  }

  #menu-toggle:checked + .menu-btn + nav .nav-links {
    display: flex;
  }
}



